.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid #53c48b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  position: relative;
}

.icon {
  font-style: 12px;
  margin: 3px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #53c48b;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}